* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #fff;
  margin-bottom: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav_ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav_ul li {
  border: 0.0625rem solid #272727;
  border-right: none;
  padding: 0.5rem;
}

.nav_ul li:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.nav_ul li:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.activo {
  background-color: #e6e6e6;
}

.nav_ul a,
a:visited {
  display: flex;
  color: inherit;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav_ul img {
  width: 2rem;
  height: 2rem;
}

.main {
  position: relative;
  top: 0rem;
}

.categoria_buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 2;
  top: 3.1rem;
}

.form_categoria {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.categoria select {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.0625rem solid #272727;
  background-color: #fff;
}

.buscador {
  display: flex;
  margin-right: 5rem;
}

.search {
  background-image: url("../images/lupa.png");
  background-repeat: no-repeat;
  background-position: 0.0625rem center;
  background-size: 1rem 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  left: 5rem;
  border: 0.0625rem solid #333;
  width: 15rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  top: 9rem;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 13rem;
}

.galeria img {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.foto {
  position: relative;
  width: 100%;
  height: auto;
}

.foto img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.corazon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.corazon img {
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;
  opacity: 0.5;
  border-radius: 1rem;
}

.corazon img:hover{
  cursor: pointer;
  background-color: red;
}

footer {
  background-color: #e6e6e6;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*1024 px (tablets grandes o laptops pequeños)*/
@media screen and (max-width: 64em) {
  .categoria_buscador {
    display: flex;
    justify-content: space-between;
    top: 6.22rem;
  }
  .search {
    width: 12rem;
  }
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 64em) and (min-width: 60.125em) {
  .categoria_buscador{
    top: 3.1rem;
  }
}

/*768 px (tablets en orientación vertical, iPad, pantallas medias)*/
@media screen and (max-width: 48em) {
  .nav_ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: small;
  }
  .nav_ul img {
    width: 1rem;
    height: 1rem;
  }
  .categoria_buscador {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    top: 4.22rem;
    padding: 1rem;
  }
  .categoria,
  .buscador {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .buscador form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .categoria label {
    display: none;
  }
  .search label {
    font-size: xx-small;
  }
  .search {
    width: 10rem;
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    top: 10rem;
    margin-bottom: 14rem;
  }
  footer {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    font-size: small;
  }
}

/*480 px (smartphones, por ejemplo iPhone SE/8, Galaxy S8 en modo vertical)*/
@media screen and (max-width: 30em) {
  .nav_ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: x-small;
  }
  .nav_ul img {
    width: 1rem;
    height: 1rem;
  }
  .categoria_buscador {
    top: 4.27rem;
    gap: 1rem;
  }
  .galeria {
    grid-template-columns: 1fr;
    margin-bottom: 13.5rem;
  }
  footer {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    font-size: x-small;
  }
}
