@font-face {
    font-family: Montserrat;
    src: url(../Tipografias/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Montserrat;
    background: #222;
    color: #eee;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 15px #fff2;
    text-align: center;
}

label {
    padding: 6px;
    margin: 0 5px;
}

input {
    background: transparent;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 6px 0;
    padding: 10px;
    color: #eee;
}

.botones {
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
    flex-wrap: wrap; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    color: #3B70B0;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.centrar {
    text-align: center;
}

.boton-confirmar {
    border: 1px solid #439755;
    background: #439755;
}

.boton-confirmar,
.boton-login {
    padding: 6px;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    display: block; 
}

.boton-login {
    background: #e81b08ad;
    border: 1px solid #e81b08ad;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    input {
        width: 100%;
    }

    .boton-login,
    .boton-confirmar {
        width: 100%;
    }
}