@font-face {
    font-family: Montserrat;
    src: url(../Tipografias/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Montserrat;
    background: #222;
    color: #eee;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 15px #fff2;
    text-align: center;
}

label {
  padding: 6px;
  margin: 0 5px;
  display: block;
  color: #eee;
}

input {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #eee;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  display: block;
}



.botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    color: #3B70B0;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.centrar {
    text-align: center;
}

.convertir a {
    display: block;
    margin-bottom: 0.5em;
}

.boton-confirmar,
.boton-login {
    padding: 6px;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

.boton-confirmar {
    background-color: #439755;
}

.boton-confirmar:hover {
    background-color: darkgreen;
}

.boton-login {
    background-color: #3B70B0;
}

.boton-login:hover {
    background-color: darkblue;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    input {
        width: auto;
    }

    .boton-login,
    .boton-confirmar {
        width: auto;
    }
}